<section>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/users-list">Users List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/create-user">Create User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/delete-user">Delete User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/edit-user">Edit User</a>
              </li>
            </ul>
          </nav>
      </header>
    <div class="container-router">
        <router-outlet></router-outlet>
    </div>
</section>